body #footer .footer-body, body #footer .footer-body a {
	color: #bbb;
}
body #footer .footer-body {
	min-height: 0;
}
body #footer .footer-body>ul, #footer-logo{
	display: none;
}
/*div#main-content a {
    background: rgba(255,255,0,0.2);
    outline: 1px solid #ff0;
}*/